@font-face {
  font-family: simplifica;
  src: url(./assets/fonts/simplifica.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:hover{
  text-decoration: none;
  color: inherit;
}
span{
  text-decoration: underline;
  color: #24A0ED;
}
html{
  height: 100%;
  font-family: sans-serif;
}
body{
  padding: 1rem;
  height: 100%;
}
#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

#root>h2{
  align-self: flex-start;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 1rem;
  gap: 1rem;
}
.links{
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}
.link{
  position: relative;
  font-size: 1.3rem;
  cursor: pointer;
}
.link::before,
.link::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #262626;
  transition: .5s;
  opacity: 0;
}
.link::before{
  top: 0;
  left: 0;
}
.link::after{
  bottom: 0;
  right: 0;
}
.link:hover::before,
.link:hover::after{
  opacity: 1;
  width: 100%;
  transition: .5s;
}
.link.active::before,
.link.active::after{
  width: 100%;
  opacity: 1;
}
.header h1{
  font-family: simplifica;
  font-weight: 600;
  font-size: 5rem;
  line-height: 5rem;
}
.buttons{
  display: flex;
  gap: 1rem;
}
button.cart{
  transition: transform 0.3s ease-in-out;
  will-change: contents;
}
button.cart:hover{
  transform: scale(1.1);
}
.login-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.3rem;
  padding-right: 0.5rem;
  background: none;
  position: relative;
  overflow: hidden;
  color: black;
}
.login-btn:hover{
  color: white;
}
.login-btn::after{
  content: '';
  z-index: -1;
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  transition: 0.3s;
}
.login-btn:hover::after{
  transform: translateY(0);
}
.user{
  position: relative;
  cursor: pointer;
}
.profile-dropdown{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: none;
  padding: 1rem;
  border-radius: 1rem;
  height: min-content;
  width: max-content;
  align-items: center;
}
.profile-dropdown h3{
  margin-bottom: 1rem;
}
.user:hover .profile-dropdown{
  display: flex;
  background-color: white;
  border: 1px solid black;
  flex-direction: column;
  transform: translateY(100%);
}
.logout-btn{
  display: flex;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #ED1C24;
  padding: 0.3rem;
  padding-right: 0.5rem;
  background: none;
  position: relative;
  overflow: hidden;
  color: #ED1C24;
}
.logout-btn:hover{
  color: white;
  border: 1px solid #ED1C24;
}
.logout-btn::after{
  content: '';
  z-index: -1;
  background-color: #ED1C24;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  transition: 0.3s;
}
.logout-btn:hover::after{
  transform: translateY(0);
}
.buttons img{
  width: 2.5rem;
}
.slider-window{
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: auto;
  flex: 1;
  min-height: max-content;
  margin-bottom: 2rem;
}
.slider{
  width: 100%;
  height: 100%;
  display: flex;
  animation: slideIn 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.slide{
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}
@keyframes slideIn {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
.slide>*{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.slide .image-container{
  position: relative;
  overflow: hidden;
  width: 55%;
  height: 100%;
}
.slide img{
  position: absolute;
  height: 100%;
  top: 0;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  min-width: clamp(800px,50%,1100px);
  cursor:pointer;
}
.slide .text{
  flex: 1 1 100%;
  min-width: 200px;
  max-width: 50%;
  min-height: max-content;
  padding: 3rem;
}
.text p{
  align-self: center;
  margin-bottom: 1.3rem;
}
.text button{
  border: 1px solid black;
  padding: 0.5rem 1rem;
  align-self: center;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 black;
  transition: all 0.3s ease-in-out;
  will-change: contents;
}
.text button:hover{
  transform: translateX(-8px) translateY(-8px);
  box-shadow: 10px 10px 0 black;
}
.text button>p{
  height: min-content;
}
.slider-window>button{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  padding: 0.6rem 0.2rem;
  transition: background-color 0.18s ease-in-out;
}
.slider-window>button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.slider-window button img{
  width: 2rem;
}
.right-btn{
  right: 0;
}
.left-btn{
  left: 0;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.category{
  aspect-ratio: 1 / 1;
  width: max(20vh, 120px);
  display: flex;
  flex-direction: column;
  min-width: 200px; 
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: white;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-in-out;
  will-change: contents;
}
.category::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(255,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.category:hover::before{
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
  z-index: 2;
}
.category img{
  height: 100%;
  object-fit: cover;
}
.category .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 30%;
}
.category:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
.category p{
  color: white;
}
.category .image-container{
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}
.shop-categories{
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.shop-categories>button{
  background-color: rgb(224, 224, 224);
  padding: 1rem;
}
.shop-categories>button.selected{
  background-color: white;
  border: 1px solid black;
}
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
  gap: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
} 
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #FF3D00;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.product-card{
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
}
.product-card .image-container{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.product-card img{
  height: 80%;
  object-position: center;
}
.product-card .text{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.product-card h3{
  text-align: left;
  font-size: 1.3rem;
  max-width: 60%;
}
.product-card .price{
  font-size: 2rem;
  min-width: max-content;
}
.product-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  min-width: max-content;
}
.product-info button{
  background-color: #24A0ED;
  border: none;
  color: white;
  will-change: contents;
  align-self: flex-end;
  height: 2.5rem;
}
.product-info button:hover{
  transform: none;
  box-shadow: none;
}
.product-info>button:hover{
  transform: scale(1.1);
}
.quantity{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid black;
  border-radius: 1.4rem;
  font-weight: 600;
  height: 2.5rem;
}
input.quantity-count{
  background-color: white;
  color: black;
  width: min-content;
  border: 1px solid black;
  width: 3rem;
  padding: 0.25rem 0.6rem;
  border-radius: 0.5rem;
}
input.quantity-count:focus{
  outline: none;
}
.quantity button{
  font-family: sans-serif;
  background: none;
  color: black;
  font-size: 1.3rem;
}
.login{
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
  width: 500px;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 0 4px black;
  font-family: "Raleway";
}
.login>div{
  position: relative;
}
.login label{
  position: absolute;
  top: 50%;
  color: black;
  left: 0.4rem;
  transform: translateY(-50%);
  background: white;
  pointer-events: none;
  padding: 0 0.3rem;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  will-change: contents;
}
.login input{
  background: white;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: black;
  width: 100%;
  padding-right: 3rem;
}
.login input:focus + label,
.login input:not(:placeholder-shown)+ label{
  top: 0;
  transform: translateY(-50%) scale(0.9);
  background-color: white;
}
.login input:focus-visible{
  outline: none;
}
.login input.touched:invalid{
  border:1px solid red;
}
.login button{
  background-color: #24A0ED;
  color: white;
  padding: 1rem;
}
.login h2{
  margin-bottom: 1rem;
}
.login .alert{
  align-self: flex-start;
  color: red;
}
.login h1{
  position: absolute;
  top: 0;
  left: 1rem;
  font-family: simplifica;
  font-size: 5rem;
  font-weight: 600;
  cursor: pointer;
  line-height: 5rem;
}
.password svg,
.conf-password svg{
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  background-color: white;
  width: min-content;
}
.show-password:hover,.show-conf-password:hover{
  cursor: pointer;
}
.cart-page{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1rem 0;
  font-family: "Raleway";
}
.cart-summary{
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  gap: 2rem;
}
.cart-items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  flex: 1 1 50%;
  min-width: 700px;
}
.cart-item{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 5;
  gap: 1rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem 0;
}
.cart-item .price, .cart-item .total,.subtotal, .shipping-charge{
  font-size: 1.5rem;
}
.cart-items .heading{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / span 5;
  align-items: center;
}
.cart-items .product{
  grid-column: 1 / span 2;
}
.cart-items>.heading>.quantity{
  border: none;
  display: block;
}
.cart-item .quantity{
  padding: 0 0.5rem;
  gap: 1rem;
}
.cart-item img{
  width: 90%;
}
.order-summary{
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  gap: 1rem;
  color: black;
  font-family: "Raleway";
  font-size: 1.2rem;
  height: min-content;
}
.order-summary div{
  display: flex;
  justify-content: space-between;
}
.order-summary .total{
  font-size: 1.4rem;
  font-weight: 600;
}
.totals{
  display: flex;
  flex-direction: column;
  background-color:#eeeeee;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
  min-width: 370px;
}
button.place-order{
  background-color: #24A0ED;
  color: white;
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
button.place-order::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  top:0;
  background-color: #1c8ed4;
  transition: all 0.7s ease-in-out;
  z-index: -1;
}
button.place-order:hover::after{
  left: 0;
}
.empty-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 1rem;
}
.empty-cart img{
  width: max(300px, 15vw);
}
.empty-cart button{
  background-color: #24A0ED;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.order-placed{
  font-family: "Raleway";
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.order-placed svg{
  width: 200px;
}
button.continue-shopping{
  background-color: #24A0ED;
  width: max-content;
  padding: 1rem;
  color: white;
}
